DASHSCOPE_API_KEY=your_dashscope_api_key_here
ATLAS_CLIENT_ID=your_atlas_client_id_here
ATLAS_CLIENT_SECRET=your_atlas_client_secret_here
ATLAS_BASE_URL=https://sandbox.atriptech.com
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
DISCORD_BOT_TOKEN=your_discord_bot_token
